body {
  margin: 0;
  height: 100%;
  background: #f2f5f9;
}

/* Typography */
h1 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

/* Class */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% of the viewport height */
}

.container {
  /* Center the content */
  width: 370px;
  border: solid 1px;
  border-radius: 10px;
}

.image {
  width: 350px;
  position: relative;
}

.author p {
  font-size: 12px;
}

/* ID */
#hero {
  width: 370px;
  /* padding: 10px; */
  border-radius: 10px;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
